.App {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 100%;
  padding: 0 10px;
  .title{
    text-align: center;
  }
  .content{
    line-height: 30px;
    padding-bottom: 20px;
    .project{
      margin:0;
      .unlogin-text{
        color: var(--semi-color-danger);
      }
    }
  }
}
